<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubboclub.dk.storage.mysql.mapper.ApplicationMapper">

    <resultMap id="appMap" type="ApplicationInfo">
        <result column="name" property="applicationName"/>
    </resultMap>
    <insert id="addApplication" parameterType="String">
        insert into application (name) value(#{applicationName})
    </insert>
    <select id="listApps" resultType="String">
        select lower(name) from application
    </select>
</mapper>