<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubboclub.dk.storage.mysql.mapper.StatisticsMapper">

    <insert id="batchInsert">
     <![CDATA[
       insert into statistics_${application} (timestamp,serviceInterface,method,type,tps,kbps,host,elapsed,concurrent,input,output,successCount,failureCount,remoteAddress,remoteType)
        values
        ]]>
        <foreach collection="list"  separator="," item="item">
            (#{item.timestamp},
            #{item.serviceInterface},
            #{item.method},
            #{item.type},
            #{item.tps},
            #{item.kbps},
            #{item.host},
            #{item.elapsed},
            #{item.concurrent},
            #{item.input},
            #{item.output},
            #{item.successCount},
            #{item.failureCount},
            #{item.remoteAddress},
            #{item.remoteType})
        </foreach>
    </insert>

    <insert id="addOne" >
        <![CDATA[
       insert into statistics_${application} (timestamp,serviceInterface,method,type,tps,kbps,host,elapsed,concurrent,input,output,successCount,failureCount,remoteAddress,remoteType)
        values (#{statistics.timestamp},
            #{statistics.serviceInterface},
            #{statistics.method},
            #{statistics.type},
            #{statistics.tps},
            #{statistics.kbps},
            #{statistics.host},
            #{statistics.elapsed},
            #{statistics.concurrent},
            #{statistics.input},
            #{statistics.output},
            #{statistics.successCount},
            #{statistics.failureCount},
            #{statistics.remoteAddress},
            #{statistics.remoteType})
        ]]>
        　
    </insert>

    <select id="queryMaxElapsed" resultType="long">
      <![CDATA[
        select elapsed from  statistics_${application} where timestamp>=#{start} and timestamp<=#{end}  order by elapsed ASC limit 1,1
      ]]>
    </select>
    <select id="queryMaxConcurrent" resultType="long">
        <![CDATA[
        select concurrent from  statistics_${application} where timestamp>=#{start} and timestamp<=#{end}  order by concurrent ASC limit 1,1
      ]]>
    </select>
    <select id="queryMaxFault" resultType="int">
        <![CDATA[
        select failureCount from  statistics_${application} where timestamp>=#{start} and timestamp<=#{end}  order by failureCount ASC limit 1,1
      ]]>
    </select>
    <select id="queryMaxSuccess" resultType="int">
        <![CDATA[
        select successCount from  statistics_${application} where timestamp>=#{start} and timestamp<=#{end}  order by successCount ASC limit 1,1
      ]]>
    </select>
    
    <resultMap id="statisticsMap" type="Statistics">
        <result column="timestamp" property="timestamp"/>
        <result column="serviceInterface" property="serviceInterface"/>
        <result column="method" property="method"/>
        <result column="type" property="type"/>
        <result column="tps" property="tps"/>
        <result column="kbps" property="kbps"/>
        <result column="host" property="host"/>
        <result column="elapsed" property="elapsed"/>
        <result column="concurrent" property="concurrent"/>
        <result column="input" property="input"/>
        <result column="output" property="output"/>
        <result column="successCount" property="successCount"/>
        <result column="failureCount" property="failureCount"/>
        <result column="remoteAddress" property="remoteAddress"/>
        <result column="remoteType" property="remoteType"/>
    </resultMap>


    <sql id="statisticsSQLFragment">
        timestamp,serviceInterface,method,type,tps,kbps,host,elapsed,concurrent,input,output,successCount,failureCount,remoteAddress,remoteType
    </sql>

    <select id="queryStatisticsForMethod" resultMap="statisticsMap">
        select
        <include refid="statisticsSQLFragment"></include>
        from  statistics_${application} t
        <where>
            <![CDATA[
          t.id in (select id from statistics_${application} where timestamp>=#{start} and timestamp<#{end} and serviceInterface=#{serviceInterface} and method=#{method})
          ]]>
        </where>
    </select>

    <select id="queryMaxElapsedForMethod">
        select elapsed, method from  statistics_${application} t

        <where>
            <![CDATA[
          t.id in (select id from statistics_${application} where timestamp>=#{start} and timestamp<#{end} and serviceInterface=#{serviceInterface}) group by method
          ]]>
        </where>
    </select>
</mapper>