<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 dependencies-window" >
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="saveImg()"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;保存图片</button>
                <button type="button"  ng-click="reset()" class="btn btn-default"><i class="glyphicon glyphicon-repeat"></i>&nbsp;还原</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 playground"  style="height: 600px;">

        </div>
    </div>
</div>