<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="{{currentTab=='apps'?'active':''}}" ng-click="switchTab('apps')"><a href="#/statistics">应用信息</a></li>
            <li role="presentation" class="{{currentTab=='service'?'active':''}}" ng-click="switchTab('service')"><a href="#/statistics">服务信息</a></li>
            <li role="presentation" class="{{currentTab=='nodes'?'active':''}}" ng-click="switchTab('nodes')"><a href="#/statistics">应用部署节点信息</a></li>
            <li role="presentation" class="{{currentTab=='dependencies'?'active':''}}" ng-click="switchTab('dependencies')"><a href="#/statistics">依赖关系图</a></li>
        </ul>
    </div>
</div>
<div class="row" ng-show="currentTab=='apps'">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" id="statisticsAppsTypes" style="height: 400px;">

    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" id="statisticsServiceProtocol" style="height: 400px;">

    </div>
</div>
<div class="row" ng-show="currentTab=='service'">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="serviceStatus" style="height: 400px;">

    </div>
</div>
<div class="row" ng-show="currentTab=='dependencies'">
    <app-dependencies graph="graph"  ></app-dependencies>

</div>
<div class="row" ng-show="currentTab=='nodes'">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="nodes" style="height: 400px;">

    </div>
</div>