<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property resource="dubbo.properties" />
    <substitutionProperty name="PROJECT_NAME" value="dubbokeeper"/>
    <substitutionProperty name="LOG_HOME" value="${monitor.log.home}"/>

    <timestamp key="byDate" datePattern="yyyyMMdd" />

    <!-- web dubbo log -->
    <appender name="dubboRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/ui/dubbo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DUBBO_LOG_HOME}/DUBBO-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- web dubbokeeper log -->
    <appender name="dkRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/ui/dubboKeeper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DUBBO_LOG_HOME}/DubboKeeper-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!--dubbo-->
    <logger name="com.alibaba.dubbo" level="DEBUG">
        <appender-ref ref="dubboRolling" />
    </logger>

    <!--dubbo club-->
    <logger name="com.dubboclub" level="DEBUG">
        <appender-ref ref="dkRolling" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>