<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-cogs"></i> <span>服务<strong class='text-primary'>{{service}}</strong>动态配置列表</span>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <!--<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{{currentTab=='dynamicConfig'?'active':''}}" ng-click="switchTab('dynamicConfig')"><a href="javascript:;">动态配置</a></li>
                        <li role="presentation" class="{{currentTab=='weightConfig'?'active':''}}" ng-click="switchTab('weightConfig')"><a  href="javascript:;">权重调节</a></li>
                        <li role="presentation" class="{{currentTab=='loadBalance'?'active':''}}" ng-click="switchTab('loadBalance')"><a href="javascript:;">负载均衡</a></li>
                    </ul>
                </div>
            </div>-->


            <div class="row" ng-show="currentTab=='dynamicConfig'">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="row" style="margin-top: 5px;margin-bottom: 8px;">
                        <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
                            <a href="#/admin/override/{{serviceKey}}/add"><i class="icon-plus" title="新建动态配置"></i> 新建动态配置 </a>&nbsp;| &nbsp;
                            <a href="javascript:void(0);" ng-click="batchOperation('delete')"><i class="glyphicon glyphicon-trash" title="批量删除"></i> 批量删除 </a>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <table class="table-striped table-hover table-condensed  table table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center"><strong><input type="checkbox" ng-click="select()"  ng-model="selectAll"   class="selector" title="全选"/></strong></th>
                                    <th class="text-left" title="适用的消费端应用名"><strong>应用名</strong>
                                        <input type="text" class="inner-form-element" ng-model="query.application" ng-change="filter()" placeholder="输入应用名">
                                    </th>
                                    <th class="text-left" title="适用的提供端ip"><strong>机器ip</strong>
                                        <input type="text" class="inner-form-element" ng-model="query.address" ng-change="filter()" placeholder="输入机器IP">
                                    </th>
                                    <th class="text-left" title="服务参数"><strong>服务参数</strong>

                                    </th>
                                    <th class="text-left" title="该调配置状态"><strong>状态</strong>
                                        <select ng-model="query.enable" class="inner-form-element" ng-options="o.val as o.text for o in enabledOptios" ng-change="filter()">
                                            <option value="" selected="selected">所有</option>
                                        </select>
                                    </th>
                                    <th class="text-left"><strong>操作</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="!details||details.length<=0">
                                    <td class="text-center text-warning" colspan="6">{{(isEmpty||!dynaimcConfigs||dynaimcConfigs.length<=0)?"未发现任何数据...":"努力加载中...."}}
                                    </td>
                                </tr>
                                <tr ng-show="details&&details.length>0" ng-repeat="detail in details | orderBy : 'application'"
                                    class="ng-animation">
                                    <td class="text-center"><input type="checkbox" ng-checked="detail.checked" ng-model="detail.checked" ></td>
                                    <td class="text-left">{{detail.application}}</td>
                                    <td class="text-left">{{detail.address}}</td>
                                    <td class="text-left" style="word-break: break-all;word-wrap: break-word;width: 30%;">{{detail.parameters}}</td>
                                    <td class="text-left"> <span class='{{detail.enable?"text-primary":"text-danger"}}'>{{detail.enable?"已启用":"禁用"}}</span></td>
                                    <td class="text-left">
                                        <span><a href="#/admin/override/edit/{{detail.id}}/{{detail.serviceKey | encodeUrl}}"><i class="icon-pencil" title="编辑"></i> </a></span>
                                        <span>&nbsp;| &nbsp;<a href="javascript:void(0);" ng-click="operation('delete',detail)"><i class="glyphicon glyphicon-trash"  title="删除"></i> </a> </span>
                                        <span ng-show="!detail.enable">&nbsp;| &nbsp;<a href="javascript:void(0);" ng-click="operation('enable',detail)"><i class="glyphicon glyphicon-ok" title="启用"></i> </a> </span>
                                        <span ng-show="detail.enable">&nbsp;| &nbsp;<a href="javascript:void(0);" ng-click="operation('disable',detail)"><i class="glyphicon glyphicon-ban-circle" title="禁用"></i> </a></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


           <!-- <div class="row" ng-show="currentTab=='weightConfig'">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="row" style="margin-top: 5px;margin-bottom: 8px;">
                        <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
                            <a href="javascript:void(0);"><i class="icon-plus" title="新建权重配置"></i> 新建权重配置 </a>&nbsp;| &nbsp;
                            <a href="javascript:void(0);"><i class="glyphicon glyphicon-trash" title="批量删除"></i> 批量删除 </a>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <table class="table-striped table-hover table-condensed  table table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center"><strong><input type="checkbox" ng-click="select()" class="selector" title="全选"/></strong></th>
                                    <th class="text-left" title="适用的提供端ip"><strong>机器ip</strong>
                                        <input type="text" class="inner-form-element" ng-model="query.application" ng-change="filter()" placeholder="输入机器IP">
                                    </th>
                                    <th class="text-left" title="权重"><strong>权重</strong>

                                    </th>
                                    <th class="text-left"><strong>操作</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="!details||details.length<=0">
                                    <td class="text-center text-warning" colspan="4">{{(isEmpty||!dynaimcConfigs||dynaimcConfigs.length<=0)?"未发现任何数据...":"努力加载中...."}}
                                    </td>
                                </tr>
                                <tr ng-show="details&&details.length>0" ng-repeat="detail in details | orderBy : 'application'"
                                    class="ng-animation">
                                    <td class="text-center"><input type="checkbox" ng-model="selected" value="{{detail.id}}"></td>
                                    <td class="text-left">{{detail.application}}</td>
                                    <td class="text-left">{{detail.weight}}</td>
                                    <td class="text-left">
                                        <span><a href="#/edit/{{service}}/{{provider.address}}/{{provider.id}}/provider"><i class="icon-pencil" title="编辑"></i> </a></span>
                                        <span >&nbsp;| &nbsp;<a href="javascript:void(0);" ng-click="operation('delete',detail)"><i class="glyphicon glyphicon-trash"  title="删除"></i> </a> </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
-->

<!--
            <div class="row" ng-show="currentTab=='loadBalance'">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="row"  style="margin-top: 5px;margin-bottom: 8px;">
                        <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
                            <a href="javascript:void(0);"><i class="icon-plus" title="新建负载策略"></i> 新建负载策略 </a>&nbsp;| &nbsp;
                            <a href="javascript:void(0);"><i class="glyphicon glyphicon-trash" title="批量删除"></i> 批量删除 </a>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <table class="table-striped table-hover table-condensed  table table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center"><strong><input type="checkbox" ng-click="select()" class="selector" title="全选"/></strong></th>
                                    <th class="text-left" title="适用的提供端ip"><strong>服务方法</strong>
                                        <input type="text" class="inner-form-element" ng-model="query.methods" ng-change="filter()" placeholder="输入方法名">
                                    </th>
                                    <th class="text-left" title="负载均衡策略"><strong>负载均衡策略</strong>
                                        <select ng-model="query.loadbalance" class="inner-form-element" ng-change="filter()">
                                            <option value="" selected="selected">所有</option>
                                            <option  ng-repeat="o in loadBalanceStrategies" value="{{o.val}}">{{o.text}}</option>
                                        </select>
                                    </th>
                                    <th class="text-left"><strong>操作</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="!details||details.length<=0">
                                    <td class="text-center text-warning" colspan="4">{{(isEmpty||!dynaimcConfigs||dynaimcConfigs.length<=0)?"未发现任何数据...":"努力加载中...."}}
                                    </td>
                                </tr>
                                <tr ng-show="details&&details.length>0" ng-repeat="detail in details | orderBy : 'application'"
                                    class="ng-animation">
                                    <td class="text-center"><input type="checkbox" ng-model="selected" value="{{detail.id}}"></td>
                                    <td class="text-left">{{detail.methods}}</td>
                                    <td class="text-left">{{detail.loadbalance=='random'?'随机':(detail.loadbalance=='roundrobin'?'轮询':'最少并发')}}</td>
                                    <td class="text-left">
                                        <span><a href="#/edit/{{service}}/{{provider.address}}/{{provider.id}}/provider"><i class="icon-pencil" title="编辑"></i> </a></span>
                                        <span >&nbsp;| &nbsp;<a href="javascript:void(0);" ng-click="operation('delete',detail)"><i class="glyphicon glyphicon-trash"  title="删除"></i> </a> </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>-->
        </div>
    </div>
</div>