<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-cloud"></i> 依赖<span class="text-primary"><strong>{{application | uppercase}}</strong></span>应用列表
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-responsive table-striped table-hover table-condensed  table table-condensed">
            <thead>
            <tr>
                <th class="text-center"><strong>#</strong></th>
                <th class="text-left" ><strong>应用名称</strong>
                    <input type="text" class="inner-form-element" ng-change="filter()" ng-model="query.application" placeholder="输入应用名">
                </th>
                <th class="text-left" ><strong>应用所有者</strong>
                    <input type="text" class="inner-form-element" ng-change="filter()" ng-model="query.username" placeholder="输入应用所有者">
                </th>
                <th class="text-center"><strong>操作</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="!details||details.length<=0">
                <td class="text-center text-warning" colspan="4">{{(isEmpty||!details||details.length<=0)?"未发现任何数据...":"努力加载中...."}}</td>
            </tr>
            <tr ng-show="details&&details.length>0" ng-repeat="detail in details | orderBy : 'application' | filter:search"   class="ng-animation">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-left td-35-width"><a href="#/admin/{{detail.application}}/nodes" style="text-underline: none;"
                                           title="{{detail.application | uppercase}}应用部署在哪些节点上">{{detail.application}}</a></td>
                <td class="text-left td-35-width">{{detail.username}}</td>
                <td class="text-center">
                    <a href="#/admin/{{application}}/{{detail.application}}/consumes" title="该应用的订阅服务列表">
                        <i class="glyphicon glyphicon-pushpin"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
    </div>
</div>
