<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-cloud"></i> <span class="text-primary"><strong>{{application | uppercase}}</strong></span>消费服务列表
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-responsive table-striped table-hover table-condensed  table table-condensed">
            <thead>
            <tr>
                <th class="text-center"><strong>#</strong></th>
                <th class="text-left" ><strong>服务名称</strong>
                    <input type="text" class="inner-form-element" ng-change="filter()" ng-model="query.service" placeholder="输入服务名">
                </th>
                <th class="text-left"><strong>服务版本</strong></th>
                <th class="text-left" ><strong>服务组</strong></th>
                <th class="text-left" ><strong>应用名称</strong>
                    <input type="text" class="inner-form-element" ng-change="filter()" ng-model="query.providerName" placeholder="输入应用名">
                </th>
                <th class="text-center" ><strong>提供者数量</strong></th>
                <th class="text-left"  ><strong>应用所有者</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="!details||details.length<=0">
                <td class="text-center text-warning" colspan="7">{{(isEmpty||!details||details.length<=0)?"未发现任何数据...":"努力加载中...."}}</td>
            </tr>
            <tr ng-show="details&&details.length>0" ng-repeat="detail in details | orderBy : 'service' | filter:search"   class="ng-animation">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-left td-25-width" title="管理该服务的提供者"><a href="#/admin/{{detail.serviceKey}}/providers">{{(detail.accessProtocol?detail.accessProtocol:"allprotocol")+"//"+detail.service}}</a></td>
                <td class="text-left td-10-width"><span class="label {{!detail.version?'label-info':(detail.version=='*'?'label-primary':'label-success')}}">{{!detail.version?"默认版本":(detail.version=='*'?'所有版本':detail.version)}}</span></td>
                <td class="text-left td-10-width"><span class="label {{!detail.group?'label-info':(detail.group=='*'?'label-primary':'label-success')}}">{{!detail.group?"默认组":(detail.group=='*'?'所有组':detail.group)}}</span></td>
                <td class="text-left td-25-width"><a href="#/admin/{{detail.providerName}}/nodes" style="text-underline: none;"
                                           title="{{detail.providerName | uppercase}}应用部署在哪些节点上">{{detail.providerName}}</a></td>
                <td class="text-center td-10-width">{{detail.providerCount}}</td>
                <td class="text-left td-10-width">{{detail.owner}}</td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
    </div>
</div>