<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-cloud"></i> <span>服务<strong class='text-primary'>{{service}}</strong>提供者列表</span>
    </div>
    <div class="panel-body">
        <table class="table-striped table-hover table-condensed  table table-condensed">
            <thead>
            <tr>
                <th class="text-center"><strong>#</strong></th>
                <th class="text-center"><strong>机器IP</strong>
                    <input type="text" class="inner-form-element" ng-model="query.address" ng-change="filter()" placeholder="输入机器IP">
                </th>
                <th class="text-center"><strong>权重</strong></th>
                <th class="text-center"><strong>类型</strong>
                <select ng-model="query.dynamic" class="inner-form-element" ng-options="o.val as o.text for o in dynamicOptios" ng-change="filter()">
                    <option value="" selected="selected">所有</option>
                </select>
                </th>
                <th class="text-center"><strong>状态</strong>
                    <select ng-model="query.enabled" class="inner-form-element" ng-options="o.val as o.text for o in enabledOptios" ng-change="filter()">
                        <option value="" selected="selected">所有</option>
                    </select>
                </th>
                <th class="text-center"><strong>操作</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="!details||details.length<=0">
                <td class="text-center text-warning" colspan="6">{{(isEmpty||!details||details.length<=0)?"未发现任何数据...":"努力加载中...."}}
                </td>
            </tr>
            <tr ng-show="details&&details.length>0" ng-repeat="provider in details | orderBy : 'address' | filter:search"
                class="ng-animation">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{provider.address}}</td>
                <td class="text-center">{{provider.weight}}</td>
                <td class="text-center">{{provider.dynamic?'动态':'静态'}}</td>
                <td class="text-center">{{provider.enabled?'已启用':'已禁用'}}</td>
                <td class="text-center">


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>