<div class="list-group">
    <a href="#/" class="list-group-item  {{currentMenu=='home'?'active':''}}"  ng-click="switchMenu('home')">
        <i class="glyphicon glyphicon-home"></i> Home
    </a>
    <a href="#/apps" class="list-group-item {{currentMenu=='apps'?'active':''}}" ng-click="switchMenu('apps')">
       <i class="icon-cloud"></i> 应用列表
    </a>
    <a href="#/" class="list-group-item {{currentMenu=='dynamicConfig'?'active':''}}"  ng-click="switchMenu('home')">
        <i class="icon-cogs"></i> 动态配置
    </a>
    <a href="#/" class="list-group-item {{currentMenu=='routeConfig'?'active':''}}"  ng-click="switchMenu('home')">
        <i class="icon-random"></i> 路由规则
    </a>
</div>