<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-bar-chart"></i> <span><strong class='text-primary'>{{service}}.{{method}}</strong>方法监控大盘</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <date-range-picker time-range="timeRange"></date-range-picker>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="padding-top: 10px;">
                <button class="btn btn-primary"  ng-click="queryRealTimeData()" title="实施查询一小时之内的监控数据">{{statMsg}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default elapsed-chart">
                    <div class="panel-heading">
                        <span>耗时详情</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange" target-class="'elapsed-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="elapsedOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default concurrent-chart">
                    <div class="panel-heading">
                        <span>并发情况</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange"  target-class="'concurrent-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="concurrentOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default tps-chart">
                    <div class="panel-heading">
                        <span>TPS</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange"  target-class="'tps-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="tpsOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default kbps-chart">
                    <div class="panel-heading">
                        <span>KBPS</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange"  target-class="'kbps-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="kbpsOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default receive-accept-chart">
                    <div class="panel-heading">
                        <span>接收/发送数据</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange"  target-class="'receive-accept-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="inputoutputOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div class="panel panel-default invoke-chart">
                    <div class="panel-heading">
                        <span>调用成功率</span>
                        <span style="float: right;cursor: pointer;" full-screen change-callback="fullScreenChange"  target-class="'invoke-chart'"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <line-chart chart-options="failuresuccessOptions">

                            </line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
