<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#/statistics"><i class="icon-fire"></i> DubboKeeper</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="bar in bars" class="{{currentBar==bar.barIdentify?'active':''}}"><a href="#{{bar.barHref}}" ng-click="switchBar(bar.barIdentify)"><i class="{{bar.barIconClass}}"></i> {{bar.barShowName}}</a></li>
            </ul>
        </div>
    </div>
</div>